.idea/
*.iml

easy-rsa/*
certificates/*
output.yaml

.terraform*

*.tfstate
*.tfstate.backup

test/stages/module

test/stages/bin2
test/stages/certificates
test/stages/easy-rsa
test/stages/*.ovpn

module